body{
    background-color: black;
    color: white;
    
}
hr{
    background-color: rgb(255, 255, 255);
    width: 50%;
}
p{
    font-family: 'Poppins', sans-serif;
}

/* list colors */
#netflix:hover{
    color: #e50914;
}
#hulu:hover{
    color: #99cc33;
}
#disney:hover{
    color: rgb(43, 126, 204);
}
#python:hover{
    color: #ffde57;
}
#html:hover{
    color: #e34f26;
}
#css:hover{
    color: #002561;
}
#javascript:hover{
    color: #f7df1e;
    transform: ;
}
#sql:hover{
    color: teal;
}



#titlePost{
    font-family: 'Bangers', cursive;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
}

#header1{
    font-family: 'Bangers', cursive;
    width: auto;
    font-kerning: 5px;
}

/* Button graph */
#btn1 {
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'Bangers', cursive;
}
#btn1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
#btn1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
#btn1:hover span {
    padding-right: 25px;
    color: #34A853;
}
#btn1:hover span:after {
    opacity: 1;
    right: 0;
}



/* swing animation */


@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}


/* hr styles */

hr.style-one {
    border: 0;
    height: 3px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
    }
