body, html {
    height: 100vh;
  }

#middle_container {
    padding-top: 50px;
    margin-top: 200px;
    height: auto;
    width: 50vh;
}
img {
    border-radius: 12px;
    height: auto;
    width: 200px;
}
#link_div {
    padding-bottom: 20px;
}